
.all-accommodation__container {
  // background-color: #FFF0F0;
  margin-top: 0;
}

.accommodation-card__link {
  &:hover {
    cursor: unset;
  }
}

.accommodation-card {
  background-color: #FBFBFB;
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 5px;
  h2 {
    font-size: 1rem;
    margin: 0;
    color: black;
  }
  box-shadow: black 1px 1px 3px;
  .accommodation-card__details {
    padding: 10px;
  }
  .accommodation-card__description {
    color: black;
    text-transform: none;
  }
}