.create-link {
  display: inline-block;
  background-color: $trollsk-blue;
  border: unset;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 1rem;
  &:hover {
    cursor: pointer;
    background-color: darken($color: $trollsk-blue, $amount: 10%);
  }
}

.image-form__feedback {
  width: 80%;
  margin: 0 auto;
  max-width: 400px;
}