#enquiry-modal__container {
  position: fixed;
  top: 60px;
  z-index: 10;
  padding: 20px 0;
  height: 100vh;
  background-color: $trollsk-blue;
  color: white;
  .close-button {
    position: absolute;
    top: 20px;
    right: 5%;
  }


}
.enquiry-form__additional-label {
  width: 80%;
  margin: 0 auto;
}

.enquiry-form__adults, .enquiry-form__children, .enquiry-form__checkin, .enquiry-form__checkout {
  width: 60px;
  display: inline-block;
  margin-left: 10%;
  label, input {
    width: 100%;
  }
}

.enquiry-form__checkin, .enquiry-form__checkout {
  width: 130px;
}
.enquiry-form__checkout {
  margin-right: 10%;
}

#enquiry-form {
  background-color: white;
  color: black;
}

@media (min-width: 1024px){
  #enquiry-modal__container {
    width: 82%;
    left: 9%;
  }
}