#enquiry-modal__container {
  position: absolute;
  top: 100px;
  z-index: 10;
  padding: 20px 0;
  min-height: 700px;
  background-color: #303030;
  color: white;
  .close-button {
    position: absolute;
    top: 20px;
    right: 5%;
    color: white;
    background-color: $warning-red;
    font-size: 14px;
    padding: 2px 6px;
    border: 1px solid white;
  }
}

.enquiry-intro {
  width: 90%;
  margin: 0 auto;
}

.enquiry-form__additional-label {
  width: 80%;
  margin: 0 auto;
}

.enquiry-form__adults, .enquiry-form__children, .enquiry-form__checkin, .enquiry-form__checkout {
  width: 60px;
  display: inline-block;
  margin-left: 10%;
  label, input {
    width: 100%;
  }
}

.enquiry-form__checkin, .enquiry-form__checkout {
  width: 130px;
}
.enquiry-form__checkout {
  margin-right: 10%;
}

.enquiry__link-to-home {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  text-decoration: underline;
  text-transform: none;
}

#enquiry-form {
  background-color: white;
  color: black;
  width: 90%;
}

@media (min-width: 1024px){
  #enquiry-modal__container {
    width: 82%;
    left: 9%;
  }
}

@media (min-width: 1920px){
  #enquiry-modal__container {
    width: 60%;
    left: 20%;
    // position: relative;
    // top: -600px;
  }
}