.login-intro, .dashboard-intro, .contact-intro {
  max-width: 450px;
  margin: auto;
}

form {
  max-width: 450px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px 0;
  input, textarea, label, .form__error {
    display: block;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: $font-copy;
  }
}

.contact-form__item, .enquiry-form__item {
  min-height: 80px;
  input {
    padding: 3px;
  }
}

.form__error {
  color: $warning-red;
}

.contact-page__home-link {
  text-decoration: underline;
  text-transform: none;
  color: $star-sky;
}

#image-form {
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

#create-form {
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.form-feedback {
  max-width: 450px;
  margin: 0 auto;
}