
form {
  max-width: 450px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px 0;
  input, textarea, label, .form__error {
    display: block;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  input, textarea {
    margin-bottom: 10px;
  }
}

.contact-page__home-link {
  text-decoration: underline;
  text-transform: none;
  color: $star-sky;
}