body {
  margin: 0;
  position: relative;
  font-family: $font-copy;
  max-width: 1920px;
  margin: 0 auto;
}

header {
  height: 60px;
  background-color: $trollsk-blue;
}

.main {
  padding: 20px 5%;
}

h1 {
  font-family: $font-header;
  font-size: 1.2rem;
}

p {
  font-size: 16px;
  font-family: $font-copy;
}

.hide {
  display: none;
}

.button-container {
  margin: 10px auto;
  text-align: center;
  button {
    color: white;
    background-color: $trollsk-blue;
    border: unset;
    padding: 5px 20px;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      background-color: darken($color: $trollsk-blue, $amount: 10%);
    }
  }
}