html {
  background-color: black;
}

body {
  background-color: white;
  margin: 0;
  position: relative;
  font-family: $font-copy;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  height: 60px;
  background-color: #303030;
  background-color: #072f7e;
  position: sticky;
  top: 0;
  z-index: 10;
}

.main {
  padding: 20px 5%;
}

h1 {
  font-family: $font-header;
  font-size: 1.2rem;
}

p {
  font-size: 16px;
  font-family: $font-copy;
}

.page-intro {
  max-width: 1000px;
  width: 90%;
  margin: auto;
}

.hide {
  display: none;
}

.button-container {
  margin: 10px auto;
  text-align: center;
  button {
    color: white;
    background-color: $trollsk-blue;
    border: unset;
    padding: 5px 20px;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      background-color: darken($color: $trollsk-blue, $amount: 10%);
    }
  }
}

.loading {
  margin: 20px;
  height: 20px;
  width: 20px;
  border: 10px solid $trollsk-blue;
  border-radius: 50%;
  border-bottom-color: $star-sky;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@media (min-width: 1024px) {
  .main {
    padding: 20px 10%;
  }
  h1 {
    font-size: 1.75rem;
  }
  .button-container button {
    font-size: 1rem;
    padding: 6px 25px;
  }
  .page-intro {
    width: 80%;
  }
  button {
    font-size: 1rem;
  }
}