#homepage {
  header {
    background-color: transparent;
    height: unset;
  }
}

.hero {
  position: relative;
  width: 100%;
  top: 0;
  //darken top of image to make white text contrast higher. 
  background: linear-gradient( rgba(0, 0, 100, 0.4), rgba(0, 0, 100, 0.3) 18%, rgba(0, 0, 100, 0.1) 28%, rgba(0, 0, 100, 0)), url('../../public/images/hero-wide.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 600px;
  padding-top: 10px;
  @media (min-width: 800px) {
    min-height: 800px;
    background-position: center;
  }
  @media (min-width: 1024px) {
    top: -60px;
  }
}

.introduction {
  color: white;
  padding: 20px 5%;
  text-align: center;
  margin: 2rem auto 0 auto;
  max-width: 400px;
  // font-size: 1rem;
  @media (min-width: 1024px) {
    max-width: 600px;
    margin-top: 3rem;
    p {
      font-size: 1.3125rem;
    }
  }
}

.search {
  border: none;
  z-index: 1;
  padding: 20px 5%;
  input, label {
    display: unset;
    width: unset;
    max-width: unset;
    margin: unset;  
  }
  div {
    margin: 10px auto;
    font-size: 1rem;
    background-color: white;
    width: 80%;
    max-width: 350px;
    border-radius: 5px;
    height: 25px;
  }
  label {
    display: inline-block;
    width: 90px;
    padding: 1px 3px;
    height: 20px;
  }
  .search__checkin, .search__checkout {
    input {
      cursor: pointer;
    }
  }
  input {
    text-align: right;
    border: unset;
    border-left: 1px solid black;
    font-size: 1rem;
    height: 20px;
    width: 50%;
    @media (min-width: 450px) {
      width: 55%;
    }
  }
  button {
    cursor: pointer;
    float: right;
    height: 100%;
    border-radius: 0 5px 5px 0;
    border: unset;
    width: 30px;
    background-color: $trollsk-blue;
    color: white;
    &:hover {
      background-color: $sunshine-yellow;
      color: black;
    }
  }
  @media (min-width: 1300px) {
    max-width: 900px;
    display: flex;
    
    .search__checkin, .search__checkout {
      width: 230px;
      margin-right: 20px;
    }    
  }
}

.dropdown {
  padding: 0;
  li {
    list-style: none;
    position: relative;
    
    margin: 5px;
    border-radius: 5px;
    background-color: aliceblue;
    :hover {
      background-color: white;
    }
    a {
      height: 50px;
      border-radius: 5px;
    }
    h3 {
      display: inline-block;
      margin: 5px;
      text-transform: capitalize;
      color: black;
      font-size: 18px;
    }
    
  }
  .dropdown__image-container {
    float: right;
    border-radius: 0 5px 5px 0;
    height: 50px;
    width: 50px;
    margin: 0;
  }
  .dropdown__image {
    float: right;
    border-radius: 0 5px 5px 0;
    height: 50px;
    width: 50px;
  }
  width: 100%;
}

.gateway {
  text-align: center;
  padding: 5%;
}


