#homepage {
  header {
    background-color: transparent;
    height: unset;
  }
}

.hero {
  position: relative;
  width: 100%;
  @media (min-width: 1024px) {
    top: -60px;
  }
  top: 0;
  background-image: url("../../public/images/hero.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 600px;
  padding-top: 10px;
}

.introduction {
  color: white;
  padding: 5%;
  text-align: center;
  margin: 2rem auto 0 auto;
  max-width: 400px;

}

form {
  input, textarea, label, .form__error {
    display: block;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  input, textarea {
    margin-bottom: 10px;
    
  }
}

.search {
  border: none;
  z-index: 1;
  padding: 5%;
  input, label {
    display: unset;
    width: unset;
    max-width: unset;
    margin: unset;  
  }
  div {
    margin: 10px auto;
    font-size: 1rem;
    background-color: white;
    width: 80%;
    max-width: 350px;
    border-radius: 5px;
    height: 25px;
  }
  label {
    display: inline-block;
    width: 90px;
    padding: 1px 3px;
    height: 20px;
  }
  .search__checkin, .search__checkout {
    input {
      cursor: pointer;
    }
  }
  input {
    text-align: right;
    border: unset;
    border-left: 1px solid black;
    font-size: 1rem;
    height: 20px;
    width: 50%;
    @media (min-width: 450px) {
      width: 55%;
    }
  }
  button {
    cursor: pointer;
    float: right;
    height: 100%;
    border-radius: 0 5px 5px 0;
    border: unset;
    width: 30px;
    background-color: $trollsk-blue;
    color: white;
    &:hover {
      background-color: $sunshine-yellow;
      color: black;
    }
  }
}

.dropdown {
  padding: 0;
  li {
    list-style: none;
    position: relative;
    
    margin: 5px;
    border-radius: 5px;
    background-color: aliceblue;
    :hover {
      background-color: white;
    }
    a {
      height: 50px;
      border-radius: 5px;
    }
    h3 {
      display: inline-block;
      margin: 5px;
      text-transform: capitalize;
      color: black;
    }
    
  }
  img {
    float: right;
    border-radius: 0 5px 5px 0;
    height: 50px;
    width: 50px;
  }
  width: 100%;
}

.gateway {
  text-align: center;
  padding: 5%;
}


