.message-card, .enquiry-card {
  color: white;
  background-color: #303030;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 1000px;
  margin: 20px auto;
  padding: 10px;
  box-sizing: border-box;
  h2 {
    margin: 3px auto;
    font-size: 21px;
    font-weight: 400;
  }
}

.message-card__delete-button {
  position: absolute;
  top: 20px;
  right: 5%;
  color: white;
  background-color: $warning-red;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  padding: 2px 6px;
  &:hover {
    cursor: pointer;
    background-color: lighten($color: $warning-red, $amount: 10%);
  }
}

.messages__intro, .enquirys__intro {
  width: unset;
}

.dashboard-link {
  color: black;
  text-transform: none;
  text-decoration: underline;
  position: absolute;
  right: 5%;
  @media (min-width: 1024px) {
    right: 10%;
    padding: 10px;
  }
}