.homepage nav {
  @media (min-width: 1024px) {
    background-color: unset;
  }
}

nav {
  position: absolute;
  padding-top: 40px;
  background-color: black;
  width: 0;
  text-align: center;
  transition: all 0.3s ease-in-out;
  
  z-index: 2;
  &.show {
    width: 100%;
    a {
      visibility: unset;
    }
  }
  a {
    font-family: $font-header;
    margin: 30px 80px;
    padding: 20px 0;
    border-bottom: 1px solid $sunshine-yellow;
    border-color: orange;
    visibility: hidden;
  }
  @media (min-width: 1024px) {
    position: relative;
    top: 20px;
    left: auto;
    right: 10%;
    width: unset;
    text-align: right;
    background-color: transparent;
    height: 60px;
    padding: 0;
    a {
      display: inline;
      padding: 2px 0px;
      margin: 10px;
      visibility: unset;
    }
  }
}

a {
  color: white;
  display: block;  
  text-decoration: none;
  text-transform: uppercase;
}

#page-title {
  position: absolute;
  left: 5%;
  top: 10px;
  font-family: $font-title;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
  z-index: 3;
  @media (min-width: 1024px){
    font-size: 2.2rem;
    left: 10%;
  }
}

#hamburger { 
  position: absolute;  
  right: 5%;
  top: 12px;
  z-index: 10;
  height: 35px;
  cursor: pointer;
  @media (min-width: 1024px){
    display: none;
  }
  .burger__layer {
    width: 45px;
    height: 4px;
    border-radius: 2px;
    background-color: white;
    margin: 0 auto;
    position: relative;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
  .burger__top {
      top: 5px;
  }
  .burger__middle1 {
      top: 10px;
  }
  .burger__middle2 {
      top: 6px;
  }
  .burger__bottom {
      top: 12px;
  }
  &.open {
      .burger__top, .burger__bottom{
          opacity: 0;
      }
      .burger__middle1 {
          transform: rotate(35deg);
      }
      .burger__middle2 {
          transform: rotate(-35deg);
      }
  }
}