@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

$star-sky: #3C2C7A;
$trollsk-blue: #3E0FFA;
$sunshine-yellow: #FAE21B;

$font-title: 'Lato', sans-serif;
$font-header: 'Source Sans Pro', sans-serif;
$font-copy: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
